@page
@model Testapplication1.Views.Shared.AccessDenied

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>You shall not pass, log in first, then you can access</title>
</head>
<body>

<div class="bck_button">
    <input type="button" value="To Login Page" onclick="location.href='@Url.Action("Index", "Login")'" />
</div>

</body>
</html>