@using Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Home Page";
}
@model Rangers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
    <link rel="stylesheet" href="~/css/AddRanger.css" asp-append-version="true">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>


    <link rel="stylesheet" href="https://cdn.tutorialjinni.com/intl-tel-input/17.0.8/css/intlTelInput.css" />
    <script src="https://cdn.tutorialjinni.com/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>

</head>
<body>

    <div class="container">
        <div class="wrapper">
            <i class='bx bx-user-plus'></i>

            @*<input asp-for="Username" placeholder="Username" required />
            <span asp-validation-for="Username" class="text-danger"></span>*@
            <form asp-action="ProcessAddRanger">

                <h1>Add Ranger</h1>
                <div style="margin-bottom: 15px;">
                    <a asp-action="Index" type="button" class="bck_button" style="text-decoration: none;"> Back to Home</a>
                </div>
                <div class="row">
                    @*<input type="text" placeholder="Name" required>*@
                    <input asp-for="RangerName" placeholder="Ranger Name" required />
                    <span asp-validation-for="RangerName" class="text-danger"></span>
                </div>
                <div class="row">
                    <input asp-for="Username" placeholder="Username" required />
                    <span asp-validation-for="Username"></span>
                </div>
                <div class="row">
                    <input asp-for="Password" placeholder="Password" type="password" required />
                    <span asp-validation-for="Password"></span>
                    @*<i class='bx bx-hide eye-icon'></i>*@
                </div>
                <div class="row">
                    <input asp-for="PhoneNumber"  type="text" placeholder="PhoneNumber (Optional)" />

                    <span asp-validation-for="PhoneNumber"></span>
                </div>
                <div class="row">
                    <input asp-for="Email" placeholder="Email" required type="email" />
                    <span asp-validation-for="Email"></span>

                </div>

                <div style="margin: 2%; margin-bottom: 5%;">

                    <input type="checkbox" data-val="true" data-val-required="The IsAdmin field is required." id="IsAdmin" name="IsAdmin" value="true">
                    <input name=" n" type="hidden" value="false">
                    <label for="IsAdmin" style="font-size: 15px; margin-left: 5px; font-weight: bold; color: rgb(206, 116, 116);"> Does this person need Admin rights?</label><br>
                </div>

                <div class="row button">
                    <input type="submit" value="Add">
                </div>
            </form>
        </div>
    </div>
    

  
</body>
</html>
