@using Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="ADDranger.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <title>ADDranger</title>
    
    <style>
        .button1 {
            border: 2px solid rgb(206, 116, 116);
            background-color: rgb(206, 116, 116);
            border-radius: 5px;
            border-left-width: 8px;
            border-right-width: 8px;
            margin-top: 5px;
            margin-left: 5px;
            color: #fff;
            font-size: 15px;
        }
    </style>
</head>
<body>
    <div class="wrapper">
        <i class='bx bx-user'></i>
        <form action="#">
            <div class="bck_button">
                <input type="button" value="Back">
            </div>
            <h1>First Name</h1>
            <div class="FName-textbox">
                <input type="text" placeholder="First Name">
            </div>
            <h1>Last Name</h1>
            <div class="LName-textbox">
                <input type="text" placeholder="Last Name">
            </div>
            <h1>Middle Initials</h1>
            <div class="MidInitials-textbox">
                <input type="text" placeholder="Middle Initials">
            </div>
            <h1>E-Mail</h1>
            <div class="EMail-textbox">
                <input type="text" placeholder="E-Mail">
            </div>
            <h1>Phone Number</h1>
            <div class="TelNum-textbox">
                <input type="text" placeholder="Phone Number">
            </div>
            <h1>Username</h1>
            <div class="Username-textbox">
                <input type="text" placeholder="Username">
            </div>
            <h1>Password</h1>
            <div class="Password-textbox">
                <input type="text" placeholder="Password">
            </div>
            <div class="row button">
                <input type="button" value="Save">
            </div>
        </form>
    </div>
</body>
</html>