@page
@model Testapplication1.Views.Notifications.SaveNotif

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    <h4> Saved the notification </h4>
</div>
</body>
</html>