@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Testapplication1.Views.Home.Notification
@{

}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/notification-Info.css">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <title>Notifications</title>
</head>
<body>
    
    <div class="wrapper">
        <!-- <i class=""></i> -->
        <i class="bx bx-alarm-exclamation"></i>
        <form action="#">
            <h1>Location</h1>
            <div class="container-fluid">
                <iframe class="well well-sm col-xs-12" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d314924.2082984722!2d4.210647798207174!3d51.92765354017547!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c5b7605f54c47d%3A0x5229bbac955e4b85!2sRotterdam!5e0!3m2!1sen!2snl!4v1666347054157!5m2!1sen!2snl" 
                 height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
                </iframe>
            </div>
            <h1>Date and Time</h1>
            <div class="label-text">
                <label for="">
                    @ViewBag.Time
                </label>
            </div>
            <h1>Soundtype</h1>
            <div class="label-text">
                <label for="">
                    @ViewBag.Sound_Type
                </label>
            </div>
            <h1>Certainty</h1>
            <div class="label-text">
                <label for="">
                    @ViewBag.Probability
                </label>
            </div>
            <h1>Soundclip</h1>
            <div class="label-text">
                <audio controls>
                        <source src="@ViewBag.Sound" type="audio/wav" />
                      Your browser does not support the audio element.
                    </audio>
            </div>
            <h1>Status</h1>
            <div class="checkbox">
                <input type="checkbox">
                <label for="" class="text1"></label>
            </div>

            <div class="checkbox">
                <input type="checkbox">
                <label for="" class="text2"></label>
            </div>

            <div class="checkbox">
                <input type="checkbox">
                <label for="" class="text3"></label>
            </div>

            <div class="checkbox">
                <input type="checkbox">
                <label for="" class="text4"></label>
            </div>

            <h1>Notes</h1>
            <div class="notes-textbox">
                <input type="text" placeholder="Type here">
            </div>
        </form>
    </div>
    
</body>
</html>